doctype html
html(lang="en-US", ng-app="ExpertJS")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title ExpertJS
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="assets/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    .container
      nav
       ul.navbar-nav
        li: a(href="#") ExpertJS
        li: a(href="/#/facts") Did You Know?
        li: a(href="/#/wotd") Word of the Day
        li: a(href="/#/blog") Creator's Blog
        li(ng-hide="auth"): a(href="/#/login") Login
        li(ng-show="auth"): a(href="/#/logout") Logout
        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", placeholder="Search")
          button.btn.btn-success(type="submit") Search


        .app(ng-view)

    script(src="lib/build.js")
